# Npm files
node_modules
package.tgz

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Yarn2 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*/**/.yarn

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Local env files
.env
.env.*
.env.*.local

# Gitkeep
!/**/.gitkeep
plugins/**/dist
plugins/**/dist/*